/* Importation des fonts */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  min-width: 320px;
  margin: 3% 0 3% 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color:black;
  background-color: #3c6382;
}

p {
  line-height: 150%;
}

h1 {
  margin: 0;
  padding: 0;

  border-bottom: 5px solid #1916c5;

  font-family: 'Montserrat', sans-serif;
  color: #0a3d62;
}

a {
  text-decoration: none;
  color: #fff;
}

#post-body {
  margin: 0 15% 0 15%;
  padding: 4%;

  border-bottom: 10px solid #0a3d62;
  background: #f9f7f7;

  text-align: justify;
}
ul#menu-topo {
  margin: 0 auto;
  padding: 10px 0;

  list-style-type: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

ul#menu-topo li {
  display: inline;
  background:#2c3e50;
  margin: 0;
  padding:10px;
}
ul#menu-topo li:hover {
  display: inline;
  background:#f1c40f;
  margin: 0;
  padding:10px;
}
ul#menu-topo li a {
  display: inline-block;

  margin-right: 10px;
  margin-left: 10px;
  padding: 1% 2%;

  text-decoration: none;
}

.nav-toggle {
  display: none;
}

footer{
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:50px;
}

  form  {
          
  text-align:center;
  }


  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked  {
    position: relative; /* permet de positionner les pseudo-éléments */
    cursor: pointer; 
    width:20px;
    height:20px;   /* affiche un curseur adapté */
    
  }
    
/* Media Queries*/

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }
  #post-body {
    margin: 5%;
  }
  .nav-menu {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;

    background-color: #3c6382;

    table-layout: fixed;
  }
  ul#menu-topo {
    display: none;

    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #3c6382;

    table-layout: fixed;

    transition: all .3s ease-in;
  }
  ul#menu-topo li {
    display: block;
    border-bottom: 1px solid #0a3d62;

    line-height: 3;
    color: white;
  }
  #menu-topo li a {
    color: white;
  }
  ul#menu-topo li.hide {
    display: none !important;
  }
  #menu-topo li:hover {
    border-bottom: 1px solid #0a3d62;
    background-color: #0a3d62;
  }
  /****TOGGLE****/
  .nav-toggle-label:before {
    color: white;

    content: '☰';
  }
  .nav-toggle:checked + ul#menu-topo {
    display: table;

    margin-left: 0;
  }

}
